* {
    margin: 0;
    padding: 0;
}

body {
    overscroll-behavior-y: none;
}

#output {
    position: fixed;
    border: 1px solid #000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index: 2;
    background-color: #fff;
}

.dragarea {
    position: absolute;
    border: 1px solid blue;
    background-color: aqua;
    cursor: move;
}

.hidden {
    visibility: hidden;
}

#dragarea.hidden {
    cursor: auto;
}

#frame {
    display: flex;
    width: 100%;
    height: 100vh;
}

#screen {
    flex: 7;
}

#list {
    flex: 3;
    z-index: 3;
    overflow-y: auto;
}
#list ul{
    padding-left: 0;
    list-style: none;
}
#list ul li{
    border-bottom:  1px solid #000;
}