* {
    margin: 0;
    padding: 0;
}

body {
    overscroll-behavior-y: none;
    overflow: hidden;
}

#output {
    position: fixed;
    border: 1px solid #000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index: 3;
    background-color: #fff;
}

.dragarea {
    position: absolute;
    border: 1px solid blue;
    background-color: rgba(0, 255, 255, 0.8);
    cursor: move;
}

.dragarea-handle {
    width: 20px;
    height: 20px;
    /* display: flex; */
    border: 1px dotted rgb(34, 0, 255);
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: -10px;
    right: -10px;
    cursor: nwse-resize;
    text-align: center;
    line-height: 21px;
    /* justify-content: center; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.hidden {
    visibility: hidden;
}

#dragarea.hidden {
    cursor: auto;
}

#frame {
    display: flex;
    width: 100%;
    height: 100vh;
}

#screen {
    flex: 7;
}
.frame-hr{
    z-index: 2;
}

#control {
    border-bottom: 1px solid #000;
    flex: 1;
    display: flex;
    min-height: 100px;
}
#control div{
    flex: 1;
    text-align: center;
    display: flex;
}
#control div input{
    width: 80%;
    height: 80%;
    margin: auto;
}

#list {
    flex: 3;
    z-index: 3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
#list ul{
    overflow-y: auto;
    padding-left: 0;
    list-style: none;
    flex: 7;
}
#list ul li{
    border-bottom:  1px solid #000;
    display: flex;
    text-align: center;
}
#list ul li input[type = "number"]{
    width: 20%;
}

.li-number {
    margin: 10px auto;
    text-align: center;
}
.number-box {
    flex: 1;
}

.input-box {
    flex: 3;
}

.delete-box {
    flex: 1;
}
.delete-button {
    margin: 10px auto;
    width: 90%;
}

.hover {
    /* opacity: 0.7; */
    background-color: rgba(0, 166, 255, 0.8);
    border: 1px dotted rgb(34, 0, 255);
}

.current {
    z-index: 2;
    border: 1px solid rgb(34, 0, 255);
}